.main {
  width: 90%;
  margin: auto;
  display: flex;
  justify-content: space-between;
  padding: 2rem 0;
}

.form {
  width: 50%;
}

.form button {
  background-color: royalblue;
  border: 0;
  outline: none;
  color: #fff;
  padding: 0.35rem 1rem;
  border-radius: 6px;
  cursor: pointer;
}
.tasks {
  width: 50%;
}
